In [1]:
import pandas as pd
import polars as pl
import geopandas as gpd

In [4]:
filtered_parquet = "/home/jupyter/datasphere/project/filtered_205.parquet"
df1 = pl.read_parquet(filtered_parquet).to_pandas()

In [5]:
df2 = pl.read_parquet("from-s3-folder/fixed_part-0.parquet").to_pandas()

In [6]:
df1.tin = df1.tin.apply(lambda el: int(el))

In [7]:
df2 = df2.dropna(subset=['inn'])
df2.inn = df2.inn.apply(lambda el: int(el))

In [8]:
df3 = pd.merge(df1, df2, left_on='tin', right_on='inn', how='inner')

In [9]:
#df3 = df3.dropna(subset=['revenue'])
df3 = df3[df3['year'] == 2023]

In [10]:
df3 = df3[df3['activity_code_main'].isin([
    "56.10", "56.10.1", "56.10.2", "56.10.3", "56.30"])]

In [75]:
df3[df3['org_short_name'].str.contains("ЮДЖИН", na=False)][["org_short_name", "lat_y", "lon_y"]]

        org_short_name       lat_y       lon_y
4888782    ООО "ЮДЖИН"  55.6857161  37.4776388

In [11]:
df4 = pd.read_csv("coffee_shops_final.csv")

In [12]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1034 non-null   int64
 1   name              1034 non-null   object
 2   lat               1034 non-null   float64
 3   lng               1034 non-null   float64
 4   Mon_start         1005 non-null   object
 5   Mon_end           1005 non-null   object
 6   Tue_start         1013 non-null   object
 7   Tue_end           1013 non-null   object
 8   Wed_start         1013 non-null   object
 9   Wed_end           1013 non-null   object
 10  Thu_start         1013 non-null   object
 11  Thu_end           1013 non-null   object
 12  Fri_start         1012 non-null   object
 13  Fri_end           1012 non-null   object
 14  Sat_start         975 non-null    object
 15  Sat_end           975 non-null    object
 16  Sun_start         965 non-null    object
 17  Sun_end           965 non-null    object
 18  espresso_price    1034 non-null   int64
 19  cappuchino_price  1034 non-null   int64
 20  specialty_cacao   1034 non-null   bool
 21  v60               1034 non-null   bool
 22  sells_beans       1034 non-null   bool
 23  dog_friendly      1034 non-null   bool
 24  with_kitchen      1034 non-null   bool
 25  bakery            1034 non-null   bool
 26  laptop_friendly   1034 non-null   bool
 27  decaf             1034 non-null   bool
dtypes: bool(8), float64(2), int64(3), object(15)
memory usage: 169.8+ KB

In [13]:
df4_geom = gpd.points_from_xy(df4.lat, df4.lng)
df4_geo = gpd.GeoDataFrame(df4, geometry=df4_geom, crs="EPSG:4326")

In [14]:
df3_geom = gpd.points_from_xy(df3.lat_y, df3.lon_y)
df3_geo = gpd.GeoDataFrame(df3, geometry=df3_geom, crs="EPSG:4326")

In [15]:
df3_geo = df3_geo.reset_index()
df4_geo = df4_geo.reset_index()

In [16]:
d1t = df3_geo[df3_geo['org_short_name'].str.contains("ЮДЖИН", na=False)]
d2t = df4_geo.head()

In [17]:
d1t

         index         tin  ...  line_6400                   geometry
16235  4888782  9729021580  ...        NaN  POINT (55.68572 37.47764)

[1 rows x 237 columns]

In [18]:
d1t = d1t.loc[np.repeat(d1t.index.values, 5)]

NameError: name 'np' is not defined

In [174]:
d1t.geometry

16235    POINT (55.68572 37.47764)
16235    POINT (55.68572 37.47764)
16235    POINT (55.68572 37.47764)
16235    POINT (55.68572 37.47764)
16235    POINT (55.68572 37.47764)
Name: geometry, dtype: geometry

In [152]:
d2t.geometry

0    POINT (55.70351 37.51115)
1    POINT (55.67939 37.46827)
2    POINT (55.75444 37.52397)
3    POINT (55.67144 37.57684)
4    POINT (55.63679 37.72424)
Name: geometry, dtype: geometry

In [170]:
d1t.to_crs("EPSG:28416").reset_index().geometry

0    POINT (13150994.128 4871597.972)
1    POINT (13150994.128 4871597.972)
2    POINT (13150994.128 4871597.972)
3    POINT (13150994.128 4871597.972)
4    POINT (13150994.128 4871597.972)
Name: geometry, dtype: geometry

In [171]:
d2t.to_crs("EPSG:28416").geometry

0      POINT (13154409.53 4874691.03)
1    POINT (13149915.341 4870790.919)
2    POINT (13159751.667 4874001.624)
3    POINT (13154985.189 4883595.044)
4    POINT (13159715.949 4901979.285)
Name: geometry, dtype: geometry

In [ ]:
d3t

In [49]:
df4_geo.columns

Index(['index', 'Unnamed: 0', 'name', 'lat', 'lng', 'Mon_start', 'Mon_end',
       'Tue_start', 'Tue_end', 'Wed_start', 'Wed_end', 'Thu_start', 'Thu_end',
       'Fri_start', 'Fri_end', 'Sat_start', 'Sat_end', 'Sun_start', 'Sun_end',
       'espresso_price', 'cappuchino_price', 'specialty_cacao', 'v60',
       'sells_beans', 'dog_friendly', 'with_kitchen', 'bakery',
       'laptop_friendly', 'decaf', 'geometry'],
      dtype='object')

In [50]:
df4_geo.drop(columns=["index", "Unnamed: 0"])

                name        lat  ...  decaf                   geometry
0         milk-beans  55.703506  ...  False  POINT (55.70351 37.51115)
1         milk-beans  55.679390  ...  False  POINT (55.67939 37.46827)
2         milk-beans  55.754441  ...  False  POINT (55.75444 37.52397)
3         milk-beans  55.671443  ...  False  POINT (55.67144 37.57684)
4         milk-beans  55.636788  ...  False  POINT (55.63679 37.72424)
...              ...        ...  ...    ...                        ...
1029         shhegol  59.935057  ...  False  POINT (59.93506 30.33379)
1030  eklernaya-kler  55.770496  ...  False   POINT (55.7705 37.63316)
1031  eklernaya-kler  55.772491  ...  False    POINT (55.77249 37.676)
1032            erna  55.732911  ...  False  POINT (55.73291 37.61832)
1033          yasnyj  55.790205  ...  False   POINT (55.7902 49.11255)

[1034 rows x 28 columns]

In [173]:
d1t.to_crs("EPSG:28416").reset_index().distance(d2t.to_crs("EPSG:28416"))

0     4607.817724
1     1347.261604
2     9081.411738
3    12643.508705
4    31608.453570
dtype: float64

In [46]:
new_df = df4_geo.to_crs("EPSG:3857") \
    .sjoin_nearest(df3_geo.to_crs("EPSG:3857"), distance_col="dist") \
    [["name", "org_short_name", "dist", "lat_y", "lon_y", "revenue", "expenditure", "geometry"]] \
    .dropna(subset=["revenue"])
new_df = new_df[new_df["revenue"] != 0.0]
new_df.to_csv("second_merge_test.csv")

In [ ]:
new_df)2

In [35]:
dfmsk = pd.read_csv("msc-coffe.csv")
dfspb = pd.read_csv("spb-coffe.csv")

In [39]:
df_zoon = pd.concat([dfmsk, dfspb])

In [43]:
df_zoon_geom = gpd.points_from_xy(df_zoon.lat, df_zoon.lon)
df_zoon_geo = gpd.GeoDataFrame(df_zoon, geometry=df_zoon_geom, crs="EPSG:4326")

In [44]:
df_zoon_geo

    city  ...                   geometry
0    msk  ...  POINT (55.76173 37.65684)
1    msk  ...  POINT (55.70193 37.76598)
2    msk  ...   POINT (55.98091 37.4109)
3    msk  ...  POINT (55.75594 37.62809)
4    msk  ...  POINT (55.86379 37.54485)
..   ...  ...                        ...
582  spb  ...  POINT (60.16326 30.35586)
583  spb  ...  POINT (59.83565 30.34466)
584  spb  ...  POINT (59.90786 30.29761)
585  spb  ...  POINT (59.93464 30.34775)
586  spb  ...  POINT (59.95931 30.31449)

[1247 rows x 17 columns]

In [55]:
new_df.sjoin_nearest(df_zoon_geo.to_crs("EPSG:3857"), distance_col="dist2").to_csv("second_merge_test.csv")

In [160]:
import numpy as np
from scipy.spatial import KDTree
import geopandas as gpd
import warnings

def find_k_closest(gdf1, gdf2, k):
    # Clean input data
    gdf1_clean = validate_geometries(gdf1)
    gdf2_clean = validate_geometries(gdf2)
    
    # Adjust k for available points
    k = min(k, len(gdf2_clean))
    if k <= 0:
        return gpd.pd.DataFrame(columns=['origin_index', 'neighbor_index', 'distance'])
    
    # Extract finite coordinates
    coords1 = extract_coords(gdf1_clean)
    coords2 = extract_coords(gdf2_clean)
    
    # Build and query KDTree
    tree = KDTree(coords2)
    distances, indices = tree.query(coords1, k=k)
    
    # Handle k=1 edge case
    if k == 1:
        distances = distances[:, None]
        indices = indices[:, None]
    
    # Generate results
    results = []
    for i, orig_idx in enumerate(gdf1_clean.index):
        for j in range(k):
            neighbor_idx = gdf2_clean.index[indices[i, j]]
            results.append({
                'origin_index': orig_idx,
                'neighbor_index': neighbor_idx,
                'distance': distances[i, j]
            })
    
    return gpd.pd.DataFrame(results)

# Helper functions
def validate_geometries(gdf):
    valid_mask = (
        gdf.geometry.notna()
        & (gdf.geometry.type == 'Point')
        & gdf.geometry.apply(lambda g: all(np.isfinite([g.x, g.y])))
    )
    if not valid_mask.all():
        invalid = gdf[~valid_mask]
        warnings.warn(
            f"Dropped {len(invalid)} invalid geometries (indexes: {invalid.index.tolist()})"
        )
    return gdf[valid_mask].copy()

def extract_coords(gdf):
    return np.column_stack([gdf.geometry.x, gdf.geometry.y])

In [175]:
find_k_closest(df4_geo.to_crs("EPSG:28416")[["name", "geometry"]].head(), df3_geo.to_crs("EPSG:28416").dropna(subset=["geometry"])[["org_short_name", "geometry", "revenue"]], 10)

/tmp/ipykernel_4547/1877443122.py:51: UserWarning: Dropped 3 invalid geometries (indexes: [1470, 7624, 9133])
  warnings.warn(

    origin_index  neighbor_index     distance
0              0           16438    15.534636
1              0            1398   161.376424
2              0           16397   434.752994
3              0           16449   523.180785
4              0           16330   740.915162
5              0            5253   740.915162
6              0           16372   740.915162
7              0           16373   740.915162
8              0           16270   740.915162
9              0            4422   740.915162
10             1           16505   391.559160
11             1           16457   841.286302
12             1           16227   857.177809
13             1            5252   857.177809
14             1           16275   857.177809
15             1           14386   857.177809
16             1           16367   857.177809
17             1           16274   857.177809
18             1           16242   857.177809
19             1           16290   857.177809
20             2            2687   445.819082
21             2            2596   445.819082
22             2            2699   533.981896
23             2             738   703.403636
24             2           13295   810.851073
25             2            5990   951.048945
26             2            5991   951.048945
27             2             578   951.048945
28             2            5997   951.048945
29             2            3699   984.380605
30             3            5185   491.478225
31             3            4698   634.673334
32             3            4693   665.912772
33             3            4946   665.912772
34             3            4726   665.912772
35             3            2833   665.912772
36             3            4916   665.912772
37             3            4910   665.912772
38             3           16561   665.912772
39             3            1225   665.912772
40             4           15638   714.537591
41             4           15597   714.537591
42             4           15596   714.537591
43             4           15565   909.236470
44             4            1186   909.236470
45             4           15538  1474.025058
46             4           15643  1474.025058
47             4           15831  1730.772440
48             4           15833  1730.772440
49             4           15830  1730.772440